<div class="ascensionCard fh flex column">
  <div class="ascensionSpanWrapper mb20">
    <span>{{ascension}}</span>
  </div>
  <div class="itemList flex column aic jcsa gap10">
    @for (ascensionMaterial of ascensionMaterials; track $index) {
      <div class="costItem jcsb flex aic fw">
        <img class="costItemImg" [src]="'assets/img/Mora.png'">
        <div class="description flex column gap5 jcsb fw">
          <tooltip-component>
            <div tooltipedElement>
              <span class="name" overflowTooltip #nameSpan>{{ascensionMaterial.name}}</span>
            </div>
            <div #tooltipContent tooltipContent>
              @if (nameSpan.hasAttribute('textOverflow')) {
                <span>{{ascensionMaterial.name}}</span>
              }
            </div>
          </tooltip-component>
          <span class="value">{{ascensionMaterial.value}}</span>
        </div>
      </div>
    }
  </div>
</div>