.characterContainer {
  box-sizing: border-box;
}

.characterPreview {
  flex: 1;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  
  img {
    object-fit: cover;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 2px solid #808080;
    mask: linear-gradient(black, black) border-box,
      linear-gradient(black, black) padding-box;
    mask-composite: subtract;
  }
}

.basicInformation {
  flex: 3;

  .infoCard {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    border: 2px solid #808080;
    padding: 15px;
    width: fit-content;
    position: relative;
    overflow: hidden;
    padding-left: 50px;
    flex: 1;

    &:after {
      content: "";
      position: absolute;
      backdrop-filter: blur(12px);
    }

    svg {
      width: 55px;
      position: absolute;
      left: 0;
      transform: translateX(-30%);
      fill: rgba(255, 255, 255, 0.603);
    }
  }

  .characterName {
    font-size: 55px;
  }

  .characterTitle {
    font-size: 20px;
  }

  .rarity {
    font-size: 35px;
  }

  .nationImage {
    width: 50px;
    height: 50px;
  }

  .nationName {
    font-size: 20px;
  }
}

.nationCard {
  height: 33vh;
  width: 15%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  border: 2px solid #808080;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 2px solid #808080;
    mask: linear-gradient(black, black) border-box,
      linear-gradient(black, black) padding-box;
    mask-composite: subtract;
  }

  .nationLandscape {
    top: 0;
    position: absolute;
    object-fit: cover;
    width: 250px;
    height: 310px;
    user-select: none;
  }

  .innerContainer {
    display: flex;
    gap: 25px;
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .overlay {
    z-index: 1;
  }
}

span {
  color: white;
}