<div class="flex aic jcc column fw fh">
  @if (!charactersService.characterLoaded) {
    <div class="spinner"></div>
  } @else {
    @if (charactersService.character$ | async; as character) {
      <div class="characterPreview">
        <img [src]="'https://genshin.jmp.blue'+'/characters/'+characterName+'/gacha-splash'">
      </div>
      <div class="basicInformation fw">
        <span> Nom du personnage : {{character.name}}</span>
        <span> Date de naissance : {{character.birthday | date:'dd MMMM'}}</span>
      </div>
    }
  }
</div>
