.characterContainer {
  box-sizing: border-box;
}

.characterPreview {
  flex: 1;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  img {
    object-fit: cover;
    &.error {
      display: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 2px solid #808080;
    mask: linear-gradient(black, black) border-box,
      linear-gradient(black, black) padding-box;
    mask-composite: subtract;
  }
}

.basicInformation {
    flex: 2;
}

span {
    color: white;
}

.characterName {
  font-size: 55px;
}