@if(resetFields) {
    <div [class.backgroundMask]="backgroundMask" class="dialog-outside-container" (mousedown)="onOutsideMouseDown()" (mouseup)="onOutsideMouseUp()">
        <div id="dialog-container" [style]="{'height': height, 'width': width, 'border-width': borderWidth}" class="dialog-container flex column" (mousedown)="$event.stopPropagation()">
            @if(style === dialogStyle.HBF) {
                <div class="header fw" [class]="style === dialogStyle.HBF ? 'top-element' : ''">
                    @if (draggable && style === dialogStyle.HBF) {
                        <div class="draggable-handle" (mousedown)="onDragStart($event)"></div>
                    }
                    <ng-content select="[header]"></ng-content>
                </div>
            }
            <div class="body fh fw flex aic jcc column" [class]="style === dialogStyle.BF ? 'top-element' : style === dialogStyle.B ? 'only-element' : ''">
                @if (draggable && style === dialogStyle.B) {
                    <div class="draggable-handle" (mousedown)="onDragStart($event)"></div>
                }
                <ng-content select="[body]"></ng-content>
            </div>
            @if (style === dialogStyle.HBF || style === dialogStyle.BF) {
                <div class="bottom-element fw">
                    <ng-content select="[footer]"></ng-content>
                </div>
            }
        </div>
    </div>
}