.dialog-outside-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 0px 10px 1px #0e0e0e;
    border: solid #454545;
    transition: height 400ms ease-in-out, width 400ms ease-in-out;
    overflow: hidden;
}

.header {
    position: relative;
    background-color: #3b3b3b;
}

.body {
    position: relative;
    background-color: #272727;
}

.top-element {
    padding-top: 2px;
    border-radius: 10px 10px 0px 0px;
}

.only-element {
    border-radius: 10px;
}

.bottom-element {
    background-color: #3b3b3b;
    padding-bottom: 2px;
    border-radius: 0px 0px 10px 10px;
}

.backgroundMask {
    background-color: rgba(0, 0, 0, 0.3);
}

.draggable-handle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 2;
}