<div class="charactersTopContainer flex aic jcc column gap30 fh fw">
  @if (!charactersService.charactersLoaded) {
    <div class="spinner"></div>
  } @else {
    <div class="gap30 flex aic jcc column fw fh">
      <div class="">
      <input >
      </div>
      <div class="characterCardContainer fh">
        @for (character of charactersService.characters$ | async; track $index) {
          <div class="fw fh flex aic jcc">
            @if(character.name) {
              <a [class]="'flex aic characterCard ' + character.vision" [routerLink]="sharedService.constructUrl(pages.CHARACTER, [character.name])">
                <div class="fh characterPortrait">
                  <img class="fw fh" [src]="character.img">
                </div>
                <div class="infoSection fh fw flex jcc aic">
                  <span class="characterName">{{character.name}}</span>
                  <div class="vision"></div>
                </div>
              </a>
            }
          </div>
        }
      </div>
    </div>
  }
</div>