.characterCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  padding: 10px 0;
  overflow: auto;
  width: 98%;
}

.characterCard  {
  --border-radius: 1rem;
  border-radius: var(--border-radius);
  min-height: 500px;
  box-shadow: 5px 5px 5px #1c1c1c;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 250px;

  &:hover {
    transform: translateY(-5px);
  }

  .topSection {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    backdrop-filter: blur(12px);
    height: calc(100% - 100px);

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;
      object-fit: cover;
      object-position: top;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: inherit;
      border: 2px solid #808080;
      mask: linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
      mask-composite: subtract;
    }
  }

  .bottomSection {
    height: 100px;
    background: radial-gradient(circle at center, rgb(44, 44, 44) 0%, rgb(58, 58, 58) 100%);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .name {
    color: white;
  }
}