<div class="charactersTopContainer flex aic jcc column gap20 fh fw">
  @if (!charactersService.charactersLoaded) {
    <div class="spinner"></div>
  } @else {
    <div class="gap30 flex aic jcc column fw fh">
      <div class="options flex jcc aic fw gap20">
        <input >
      </div>
      <div class="characterCardsWrapper fh">
        @for (character of charactersService.characters$ | async; track $index) {
          @if(character.name) {
            <div class="cardWrapper flex aic jcc">
              <a [class]="'flex aic characterCard ' + character.vision + ' ' + character.weapon" [routerLink]="sharedService.constructUrl(pages.CHARACTER, [character.name])">
                <div class="fh characterPortrait">
                  <img class="fw fh" [src]="character.img">
                </div>
                <div class="infoSection fh fw flex jcc aic">
                  <span class="characterName">{{character.name}}</span>
                  <div class="vision"></div>
                  <div class="weapon"></div>
                  @if (character.rarity) {
                    <div class="rarity">
                    @for (item of sharedService.getArray(character.rarity); track $index) {
                        <svg xmlns="http://www.w3.org/2000/svg" width="15px" fill="white" viewBox="0 0 24 24"><path d="M12,1L9,9L1,12L9,15L12,23L15,15L23,12L15,9L12,1Z" /></svg>
                      }
                    </div>
                  }
                </div>
              </a>
              <div class="shortcutContainer flex aic">
                <a class="talentBtn" [routerLink]="sharedService.constructUrl(pages.CHARACTER, [character.name])" [fragment]="'talents'">
                  <span>Talents</span>
                </a>
              </div>
            </div>
          }
        }
      </div>
    </div>
  }
</div>