.characterCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  padding: 15px 0;
  padding-bottom: 25px;
  overflow: auto;
  width: 98%;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 15px,
    black calc(100% - 30px),
    transparent
  );
}

.characterCard  {
  --border-radius: 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 300px;
  height: 85px;
  background-color: rgb(153, 153, 153);
  border: 2px solid rgb(92, 92, 92);
  text-decoration: none;
  overflow: hidden;

  &:hover {
    transform: scale(1.04);
  }

  $elements: (
    "GEO": (color: rgb(255, 205, 0), image: "GeoElement.webp"),
    "CRYO": (color: rgb(0, 238, 255), image: "CryoElement.webp"),
    "PYRO": (color: rgb(182, 0, 0), image: "PyroElement.webp"),
    "DENDRO": (color: rgb(0, 182, 9), image: "DendroElement.webp"),
    "ANEMO": (color: rgb(0, 182, 167), image: "AnemoElement.webp"),
    "HYDRO": (color: rgb(0, 94, 182), image: "HydroElement.webp"),
    "ELECTRO": (color: rgb(124, 0, 182), image: "ElectroElement.webp")
  );

  $weapons : (
    "Sword": (image: "sword.webp"),
    "Bow": (image: "bow.webp"),
    "Catalyst": (image: "catalyst.webp"),
    "Claymore": (image: "claymore.webp"),
    "Polearm": (image: "polearm.webp"),
  );

  @each $weapon, $values in $weapons {
    &.#{$weapon} {
      .weapon {
        background-image: url('assets/img/weapons/icons/#{map-get($values, image)}');
      }
    }
  }

  @each $element, $values in $elements {
    &.#{$element} {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, map-get($values, color) 300%);
      
      .vision {
        background-image: url('assets/img/elements/#{map-get($values, image)}');
      }
    }
  }

  .characterPortrait {
    width: 30%;
    img {
      object-fit: cover;
    }
  }

  .infoSection {
    position: relative;
    overflow: hidden;
  }

  .characterName {
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    z-index: 1;
  }

  .vision {
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 100%;
    width: 75px;
    position: absolute;
    top: 0;
    right: -40px;
    filter: invert(30%);
  }

  .weapon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    height: 100%;
    width: 110px;
    position: absolute;
    opacity: 60%;
    top: 0;
  }

  .rarity {
    position: absolute;
    bottom: 0;

    svg {
      fill-opacity: 75%;
    }
  }
}