<div class="flex aic jcc column gap30">
  <div class="flex gap50">
    @if (!charactersService.charactersListingLoaded) {
      <span>Loading</span>
    } @else {
      <span>No loading</span>
    }

    <div class="flex aic jcc column gap20">
      <button (click)="charactersService.deselectCharacter()">Remove Selection</button>
      <button (click)="cacheService.seeAll()">See All Cache</button>
      <button (click)="cacheService.clearAll()">Clear Cache</button>
    </div>

    <div>
      @if (charactersService.selectedCharacter$ | async; as selectedCharacter) {
        <div>
          <h1>
            Selected Character Name: {{selectedCharacter.name}}
          </h1>
        </div>
      } @else {
        <span>No selected character</span>
      }
    </div>
  </div>

  <div class="flex aic jcc column gap20">
    <h2>Characters List</h2>
    @for (character of charactersService.charactersListing$ | async; track $index) {
      <div class="flex aic jcc gap20">
        <p>{{ character.name }}</p>
        @if(character.name) {
          <button (click)="charactersService.loadCharacter(character.name)">Load {{character.name}}</button>
        }
      </div>
    }
  </div>
</div>