.topbar {
    background-color: grey;
}

.topbarButton {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #4a4a4a;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-family: "Genshin", sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}