.sliderWrapper {
    --ballBigSize : 25px;
    --ballNormalSize : 20px;
    --ballSmallSize : 15px; 

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.light {
        .sliderBar {
            background-color: azure;
        }
        
        .sliderBall {
            background-color: gray;
        }
    }

    &.dark {
        .sliderBar {
            background-color: rgb(90, 90, 90);
        }
        
        .sliderBall {
            background-color: rgb(216, 216, 216);
        }
    }

    &.big {
        height: var(--ballBigSize);
    }

    &.normal {
        height: var(--ballNormalSize);
    }

    &.small {
        height: var(--ballSmallSize);
    }

    .sliderBar {
        width: 100%;
        height: 10px;
        border-radius: 15px;
        position: relative;
    }

    .sliderAnchor {
        position: absolute;
    }

    .sliderBall {
        position: absolute;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: grab;

        &.big {
            height: var(--ballBigSize);
            width: var(--ballBigSize);
        }

        &.normal {
            height: var(--ballNormalSize);
            width: var(--ballNormalSize);
        }

        &.small {
            height: var(--ballSmallSize);
            width: var(--ballSmallSize);
        }
    }
}